
.card {
  position: relative;
  width: 250px;
  padding: 20px;
  margin: 20px;
  border: 2px solid #003366;
  border-radius: 10px;
  background: #fff;
  display: inline-block;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.card img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: auto;
  border-radius: 5px;
}

.card h2 {
    position: relative;
    bottom: 20px; 
    font-size: 20px;
    color: #003366;
}


.card button {
    padding: 8px 12px;
    background: #003366;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover {
    background: #005599;
}

.container ul li .card button {
    width: 100%;
    display: flex;
    position: relative;
    left: 56%;
    transform: translateX(-50%);
    text-align: center;
    justify-content: center;
    align-items: center;
}
