.back2 {
    text-align: center;
    width: 200px;
    background-color: #003366;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}